<div *ngIf="table">

  <div class="flex flex-row" [style]="{'margin':'1em'}">
    <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
      <div class="p-component p-card" [style]="{'margin':'1em', 'padding':'0.5em'}">
        <h2>Table {{table.name}} ({{table.status}})</h2>
      </div>
    </div>
  </div>

  <div class="flex flex-row" [style]="{'margin':'1em'}">

    <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
      <p-card header="Players" [style]="{'margin':'1em'}">
        <p-table [value]="table.users" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Nick</th>
              <th>Role</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr [ngClass]="{'font-bold':user.id == userId}">
              <td>{{user.nick}}</td>
              <td>{{user.role}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
      <app-table-admin-panel [table]="table" [userId]="userId"></app-table-admin-panel>
    </div>

  </div>
</div>
<div class="flex flex-row card-container" [style]="{'margin':'1em'}">

  <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
    <app-table-progress-panel [table]="table"></app-table-progress-panel>
  </div>

  <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
    <app-table-voting-panel [table]="table"></app-table-voting-panel>
  </div>
</div>

<div class="flex flex-row card-container" [style]="{'margin':'1em'}">
  <div class="flex-row bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
    <app-table-results-panel [table]="table"></app-table-results-panel>
  </div>
</div>
