<div *ngIf="table">

  <div class="flex flex-row" [style]="{'margin':'0.5em'}">
    <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
      <div class="p-component p-card" [style]="{'margin':'0.5em', 'padding':'0.5em'}">
        <h2>Table {{table.name}} ({{table.status}})</h2>
      </div>
    </div>
  </div>

  <div class="flex flex-row" [style]="{'margin':'1em'}">

    <div class="flex-2 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4">
      <app-table-team [table]="table" [user]="user"></app-table-team>
    </div>

    <div class="flex-2 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4" *ngIf="table && (table.status == 'VOTING')">
      <app-table-progress-panel [table]="table"></app-table-progress-panel>
    </div>

    <div class="flex-2 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4" *ngIf="table && table.status == 'REVIVING'">
      <app-table-results-panel [table]="table"></app-table-results-panel>
    </div>

    <div class="flex-2 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4" *ngIf="user && user.role == 'ADMIN'">
      <app-table-admin-panel [table]="table" [userId]="userId"></app-table-admin-panel>
    </div>

  </div>
</div>
<div class="flex flex-row card-container" [style]="{'margin':'1em'}">

  <div class="flex-1 bg-blue-100 text-white font-bold text-center p-4 border-round mx-4" *ngIf="table && (table.status == 'VOTING') && user && user.role == 'PLAYER'">
    <div >
    <app-table-voting-panel [table]="table"></app-table-voting-panel>
  </div>
</div>

<div class="flex flex-row card-container" [style]="{'margin':'1em'}">
</div>
